
.quiz {
  
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("./bg.jpg") center;
    text-align: center;
    min-height: 80.5vh;
    background-repeat: no-repeat;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    padding: 5px;
    color: white;
    /* background-color: rgb(18, 145, 242); */
    margin: 5px;
   
}

.subtitle {
  color: black;
  font-size: 25px;
  border: 1px solid black;
  box-shadow: 4px 4px 2px black;
  padding: 5px 10px;
}

.quizInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;

  margin-right: 20px;
}
