.title {
  text-transform: uppercase;
  font-size: 8vw;
  font-family: "Trirong", serif;
  /* font-family: "Montserrat", sans-serif; */
  
  cursor: pointer;
  text-shadow: 2px 2px red;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  /* color: black; */
  background-color: orange;
  
  /* background-color: gray; */
}

.divider {
  margin: 10px;
  width: 100%;
  background-color: grey;
}
